.create-post__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.create-post__container > input {
    border-radius: 10px;
    border: .5px solid #1C1E1F;
    height: fit-content;
    padding: 5px;
    min-width: 65%;
    margin-bottom: 20px;
}

.create-post__buttonContainer button {
    background: #1C1E1F;
    color: #FFFCE7;
    border: none;
    padding: 4px 12px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10px;
}