.post-parent{
    height:auto;
    border-bottom: solid #ffcb34 1px;
    background: #fffce7;
    padding:10px;
    border-left: none;
    border-right: none;
}

.post-parent__commentToggle {
    background: none;
    border: none;
    margin-left: 10px;
}

.post-parent__sendDrink {
    background: #1C1E1F;
    color: #FFFCE7;
    border: none;
    padding: 4px 12px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10px;
    outline: none;
}
.dealParent-container__item{
    width:100%;
    height:50px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    margin-bottom:5px;
}
