/* change width to 100% after rendering inside of posts. */
.comment-parent{
    border: dashed #ffcb34 1px;
    background: #fffce7;
    border-radius: 0 0 0 15px;
    border-top: none;
    border-right: none;
    height:auto;
    width:400px;
    word-break: break-word;
    padding:10px;
}

.comment-parent__header {
    width:100%;
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.comment-parent__user-info {
    width:60%;
    height:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.comment-parent__profile-picture {
    height:40px;
    width:40px;
    border-radius:50%;
    margin-left: 6px;
    margin-right: 15px;
}

.comment-parent__user-name {
    margin-right:20%;
}

.comment-parent__timestamp {
    display: flex;
    font-size: 13px;
}



.comment-parent__content {
    padding: 5px 25px;
}

.comment-parent__footer{
    width:100%;
    height:30px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.comment-parent__vote{
    background:none;
    border:none;
}
.comment-parent__time{
    width:100%;
    height:40px;
    display: flex;
    justify-content: flex-end;
}