.available-container {
    display: flex;
    flex-direction: column;
    height:100vh;
}

.available-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    min-height: 98px;
}

.available-container__profileView {
    /* float:left; */
    border:none;
    background:none;
    border-radius: 50%;
    flex: 1;
}
.available-container__profileView > img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    float: left;
}
.available-header__title {
    margin: 0 auto;
    flex: 100%;
    margin-left: -15%;
    text-align: center;
}

.mapped-businesses {
    overflow-y: auto;
}

.available-rooms {
    display: flex;
    flex-direction: column;
    border-top: solid #ffcb34 1px;
    background: #fffce7;
    padding: 15px;
    border-left: none;
    border-right: none;
}
.rooms-header {
    margin-bottom: 18px;
}

.rooms-header, .rooms-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.rooms-header__title {
    font-size: 20px;
    max-width: 350px;
}

.rooms-header__distance {
    font-size: 14px;
    
}

.room-type__icon {
    margin:  0 15px 0 5px;
}

.room-user__bee {
    margin-right: 6px;
}

.rooms-footer__icons {
    display: flex;
    align-items: center;
}

.rooms-footer__button > button {
    background: #ffcb34;
    border: none;
    color: #1C1E1F;
    padding: 7px 12px;
    width: 85px;
    border-radius: 14px;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
