.dashboard-container {
    display: flex;
}

.hive-container {
    height: 100vh;
    width: 50%
}

.map-container {
    height: 100vh;
    width: 50%
}

.map-container__responsive{
    height: 100vh;
    width: 100%
}
@media(max-width:500px){
    #map{
        height:85vh;
    }
    .hive-container{
        width:100vw;
    }
}
